langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
mistralai
google-generativeai>=0.8.3
langgraph
google
langchain-groq
google-search-results